<div class="row">
	<div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
		<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
			<div class="formGroup">
				<label for="name">Name</label>
				<input formControlName="name" id="name" type="text" class="form-control" [ngClass]="{ 'is-invalid': f['name']?.touched && f.name.errors }" >
				<div *ngIf="f['name']?.touched && f.name.errors" class="invalid-feedback">
					<div *ngIf="f.name.errors.required">Name is required</div>
				</div>
			</div>

			<div class="formGroup">
				<label for="description">Description</label>
				<input formControlName="description" id="description" type="text" class="form-control" [ngClass]="{ 'is-invalid': f['description']?.touched && f.description.errors }" >
				<div *ngIf="f['description']?.touched && f.description.errors" class="invalid-feedback">
					<div *ngIf="f.description.errors.required">Description is required</div>
				</div>
			</div>

			<div class="formGroup">
				<label for="price">Price</label>
				<input formControlName="price" id="price" type="text" class="form-control" [ngClass]="{ 'is-invalid': f['price']?.touched && f.price.errors }" (keypress)="numberValidation($event)" >
				<div *ngIf="f['price']?.touched && f.price.errors" class="invalid-feedback">
					<div *ngIf="f.price.errors.required">Price is required</div>
				</div>
			</div>

			<div class="formGroup">
				<label for="file">Image</label>
				<input formControlName="file" id="file" type="file" class="form-control" [ngClass]="{ 'is-invalid': f['file']?.touched && f.file.errors }" (change)="onFileChange($event)"  >
				<div *ngIf="f['file']?.touched && f.file.errors" class="invalid-feedback">
					<div *ngIf="f.file.errors.required">Image is required</div>
				</div>
			</div>
			<div class="form-group">
				<button [disabled]="f.INVALID" type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
		<!-- <form (ngSubmit)="onSubmit(addItem)" #addItem="ngForm" enctype="multipart/form-data">
		
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" id="name" name="name" class="form-control" ngModel />
			</div>
		
			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" id="description" name="description" class="form-control" ngModel />
			</div>
		
			<div class="form-group">
				<label for="price">Price</label>
				<input type="text" id="price" name="price" class="form-control" ngModel />
			</div>
		
			<div class="form-group">
				<label for="file">Image</label>
				<input type="file" id="file" name="file" class="form-control" ngModel />
			</div>
			<button class="btn btn-primary" type="submit">Submit</button>
		</form> -->
	</div>
</div>