<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="!authService.isAuthenticated()">
      <a class="nav-link" [routerLink]="'/signup'" href="#">Signup</a>
    </li>
    <li class="nav-item" *ngIf="!authService.isAuthenticated()">
      <a class="nav-link" [routerLink]="'/login'" href="#">Login</a>
    </li>
    <li class="nav-item" *ngIf="authService.isAuthenticated()">
      <a class="nav-link" [routerLink]="'/logout'" href="#">Logout</a>
    </li>
  </ul>

</nav>
<div class="container">
<router-outlet></router-outlet>
</div>